@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');
#main{
    text-decoration: none;
    display: block;
    color: rgb(24, 3, 82);
    font-size: 200px;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    border-bottom: 3px solid rgb(184, 184, 184);
}

#sub{   
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    margin-top: 10px;
}
.why{
    font-size: 65px;
    text-align: center;
    margin-top: 400px;
    margin-bottom: 600px;
    color: rgb(0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
}
#a{
    font-size: 65px;
}
#b{
    font-size: 90px;
    font-family: 'Gothic A1', sans-serif;
}
.phone{
    display: block;
    height:680px;
    width: 360px;
    background-color: grey;
    border-radius: 40px ;
    position: absolute;
    right: 100px;
    bottom: -5500px;
    
}
#speaker{  
    background-color: white;
}
#남색{
    background-color: rgb(33, 49, 79);
    height: 740px;
}
